<div class="col-xs-6">
  <li>
    <div class="headline">{{article.category}}</div>

    {{#link-to 'article' article.id}}
      <img src={{article.image}}>
    {{/link-to}}

    {{article.headline}}

    <button {{action 'delete' article}}>Delete</button>
    {{update-article article=article update="update"}}
  </li>
</div>
